wasi*
4-cmake/build/*
!4-cmake/build/.gitkeep
5-interop/csharp/bin/*
5-interop/csharp/obj/*
*.class
5-interop/node/build/*
__pycache__
.DS_Store
6-runtime/src/dotnet-plugin/bin/*
6-runtime/src/dotnet-plugin/obj/*